body {
    font-family:'Times New Roman', Times, serif;
    padding: 20px;
    background-color: #f4f4f4;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
}


label {
    display: inline-block;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
} 
button {
    padding: 10px ;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
}


@media (max-width: 600px) {
    .contact-container {
        padding: 15px;
    }

    input,
    textarea {
        font-size: 16px;
    }

    button {
        font-size: 16px;
    }
}
